:root {
  --primary-color: #acdcee;
  --secondary-color: #2e94b9;
  --site-background-color: #f0fbfe;
}

.App {
  background-image: url(image-books.png);
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  padding: 20px;
  font-family: "Lato", sans-serif;
}

.App header {
  background-color: var(--site-background-color);
  padding: 50px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.App h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.App footer .social-links {
  text-align: center;
  opacity: 0.7;
  font-size: 14px;
}
.App a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}
.App a:hover {
  text-decoration: underline;
}
.App footer {
  background-color: var(--site-background-color);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
