.Results section {
  background-color: #f0fbfe;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.Results h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
}
